<div id="leftContainer">
	<h1 class="redMarking">Rails<strong>Bridge</strong> guidelines are</h1>
	<p><span class="highlight">First, do no harm.</span> Then, help where you can.</p>
	<p><span class="highlight">Bridge the gap</span> from aspiring developer to contributing community member through mentoring, teaching &amp; writing.</p>
	<p><span class="highlight">Reach out</span> to individuals and groups who are underrepresented in the community.</p>
	<p><span class="highlight">Collaborate</span> with other groups with similar goals.</p>
	<hr />
	<h2 class="redMarking"><strong>News</strong></h2>
	
	<h3><a href="#" title="Some news"><span class="date">06.26.09</span> Lorem ipsum dolor sit amet</a></h3>
	<p>Proin vel ante tellus, non fringilla sapien. Pellentesque eu dignissim nisi. Praesent id vehicula tellus. Curabitur odio nulla, vehicula at eleifend vel, sodales eget tortor.</p>

	<h3><a href="#" title="Some news"><span class="date">06.09.09</span> Etiam nec dolor sit amet</a></h3>
	<p>Donec mauris ligula, tincidunt nec commodo id, feugiat ut libero. Vestibulum porta malesuada pellentesque. Nam dolor augue, feugiat blandit imperdiet non, posuere vitae erat. Cras vulputate gravida dolor vitae mattis.</p>
	
	<p class="allNews"><a href="#" title="View all news">View all news &raquo;</a></p>
	<hr />
	<form id="subscribe" action="/subscribe" method="get" >
		<p>
			<label for="subscribe">Subscribe to the RailsBridge Group at Google</label>
			<input class="subscribe" id="email" type="text" name="email" title="Type your e-mail address." />
			<input type="button" class="subscribeButton" value="Subscribe" />
		</p>
	</form>
</div>
<div id="rightContainer">

  <div class="contentBox">
  	<div class="subTitleHolder">
  		<div class="subTitle"><h2><strong>Featured</strong> Projects</h2></div><div class="subTitleLink"><%= link_to "View all Projects &raquo;", projects_path %></div>
  	</div>
  	<ul>
  	  <% @projects[0..2].each_with_index do |project, i| %>
    		<li class="<%= 'last' if i==2 %>">
    		  <%= link_to image_tag(project.site_image.url(:thumb), :size => "140x81", :alt => project.name), project.link %>
    			<h3><%= project.name %></h3>
    			<p><%= project.short_description %><br /><%= link_to "Visit the Site", project.link %> | <%= link_to "More details &raquo;", project %></p>
    		</li>
  		<% end %>
  	</ul>
  </div>

  <div class="contentBox">
  	<div class="subTitleHolder">
  		<div class="subTitle"><h2>A Network of <strong>Rails-Focused Efforts</strong> for the <strong>greater good</strong></h2></div>
  	</div>
  	<ul>
  	  <% @projects[3..5].each_with_index do |project, i| %>
    		<li class="<%= 'last' if i==2 %>">
    		  <%= link_to image_tag(project.site_image.url(:thumb), :size => "140x81", :alt => project.name), project.link %>
    			<h3><%= project.name %></h3>
    			<p><%= project.short_description %><br /><%= link_to "Visit the Site", project.link %> | <%= link_to "More details &raquo;", project %></p>
    		</li>
  		<% end %>
  	</ul>
  </div>
</div>