<div id="leftContainer">
	<h1 class="redMarking">Rails<strong>Bridge</strong> guidelines are</h1>
	<p><span class="highlight">First, do no harm.</span> Then, help where you can.</p>
	<p><span class="highlight">Bridge the gap</span> from aspiring developer to contributing community member through mentoring, teaching &amp; writing.</p>
	<p><span class="highlight">Reach out</span> to individuals and groups who are underrepresented in the community.</p>
	<p><span class="highlight">Collaborate</span> with other groups with similar goals.</p>
	<hr />
	<h2 class="redMarking"><strong>News</strong></h2>
	
	<% @news_items.each do |news_item| %>
  	<h3><%= link_to "<span class='date'>#{news_item.created_at.strftime('%m.%d.%y')}</span>" + news_item.headline, news_item %></h3>
  	<p>
      <%= textilize_without_paragraph news_item.lede %> <%= link_to("more &raquo;", news_item) if !news_item.body.blank? %>
  	</p>
  <% end %>
	
	<p class="allNews"><%= link_to "View all news &raquo;", news_items_path %></p>
	<hr />
	<form id="subscribe" action="/subscribe" method="get" >
		<p>
			<label for="subscribe">Subscribe to the RailsBridge Group at Google</label>
			<input class="subscribe" id="email" type="text" name="email" title="Type your e-mail address." />
			<input type="button" class="subscribeButton" value="Subscribe" />
		</p>
	</form>
</div>
<div id="rightContainer">

  <div class="contentBox">
  	<div class="subTitleHolder">
  		<div class="subTitle"><h2><strong>Featured</strong> Projects</h2></div><div class="subTitleLink"><%= link_to "View all Projects &raquo;", projects_path %></div>
  	</div>
  	<ul>
  	  <% @projects[0..2].each_with_index do |project, i| %>
    		<li class="<%= 'last' if i==2 %>">
    		  <%= link_to image_tag(project.site_image.url(:thumb), :size => "140x81", :alt => project.name), project.link %>
    			<h3><%= project.name %></h3>
    			<p><%= project.short_description %><br /><%= link_to "Visit the Site", project.link %> | <%= link_to "More details &raquo;", project %></p>
    		</li>
  		<% end %>
  	</ul>
  </div>

  <div class="contentBox">
  	<div class="subTitleHolder">
  		<div class="subTitle"><h2>A Network of <strong>Rails-Focused Efforts</strong> for the <strong>greater good</strong></h2></div>
  	</div>
  	<ul>
  	  <% @projects[3..5].each_with_index do |project, i| %>
    		<li class="<%= 'last' if i==2 %>">
    		  <%= link_to image_tag(project.site_image.url(:thumb), :size => "140x81", :alt => project.name), project.link %>
    			<h3><%= project.name %></h3>
    			<p><%= project.short_description %><br /><%= link_to "Visit the Site", project.link %> | <%= link_to "More details &raquo;", project %></p>
    		</li>
  		<% end %>
  	</ul>
  </div>
</div>