<div id="header">
	<div id="logo"><%= link_to "RailsBridge", root_url %></div>
	<div id="slogun"><%= image_tag "slogun.gif", :alt => "An inclusive and friendly Ruby on Rails community." %></div>
	<ul id="topNav">
		<li><%= link_to "Projects", projects_path %></li>
		<li><%= link_to "Mission", mission_path %></li>
		<li><%= link_to "Join Us", help_path %></li>
	</ul>		
</div>